.badge {
    display: inline-block;
    padding: 0 8px;
    color: $white;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    margin-right: 4px;

    &--lightblue {
        background-color: $blue-light;
    }

    &--darkblue {
        background-color: $blue-dark;
    }

    &--green {
        background-color: $greenblue;
    }

    &--red {
        background-color: $red-tint02;
    }

    &--yellow {
        background-color: $warning;
        color: $black;
    }
}
