.container__filter {
    margin-top: $alert-padding-y;
    display: flex;

    >label {
        line-height: 3.2;
        margin-right: $alert-padding-x;
    }

    > .btn {
        padding: 0 16px 0 10px;
        flex: 0;
    }
}

.filter-header {
    display: flex;
    align-items: baseline;

    h1 {
        margin: 0 16px 0 0;
    }
}

.container__multiselect {
    position: relative;
    z-index: 10;
    flex: 1;

    .toggle {
        background-color: white;
        border: 1px solid $gray-tint04;
        outline: 0;
        padding: 12px $input-padding-x;
        font-size: 16px;

        &:after {
            content: "";
            display: inline-block;
            background-image: url(../icons/dropdown.svg);
            background-size: 19px 26px;
            width: 16px;
            height: 19px;
            margin-left: 20px;
        }
    }

    .wrapper {
        flex: 1;
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        overflow: hidden;
        background-color: #fff;
    }

    &.show {
        .wrapper {
            height: 280px;
            border: 1px solid $gray-tint04;
            overflow-y: scroll;
        }
    }

    ul.list--form-check-input {
        @include list-clean;
        margin: 0;
        display: block;


        li {
            flex: 0;
            padding: $input-padding-x 0;
            margin: 0 $input-padding-x;
            border-bottom: 1px solid $gray-tint04;
            font-size: 16px;
            &:last-of-type {
                border: 0;
            }

            .form-check {
                margin: 0;
            }
        }
    }
}
