.container__imageslider {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    -webkit-overflow-scrolling: touch;

    .imageslider {
        display: flex;
        left: 0;
        margin-top: 0;
    }

    .container__image {
        width: 100%;
        // height: 0;
        background-color: $gray-tint02;
        scroll-snap-align: center;
        display: flex;

        &:focus {
            border: 3px solid gold;
        }

        .image {
            width: 100%;
            height: 0;
            padding-bottom: 75%;
            display: block;
            margin: auto;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            position: relative;

            span {
                position: absolute;
                bottom: 0;
                left: 0;
                display: inline-block;
                padding: 2px 8px;
                background-color: $blue-light;
                color: $white;
                font-size: 12px;
            }
        }
    }
}

.container__thumbs {
    padding: 16px $container-padding-x 0;
    white-space: nowrap;
    overflow-x: scroll;

    ul {
        list-style: none;
        padding: 0;
        margin: 0 -8px;

        li {
            display: inline-block;
            margin: 0 8px;
            cursor: pointer;

            &.selected {
                .container__image {
                    opacity: 1;
                    outline: 2px solid $primary;
                }
            }
        }
    }

    .container__image {
        width: calc(66px + 2vw);
        background-color: $gray-tint02;
        opacity: .5;
        outline: none;

        .image {
            width: 100%;
            height: 100%;
            display: block;
            margin: auto;
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }
    }

    &.no-slides {
        padding: 0;
        width: 100%;
        ul {
            margin: 0 -8px;

            li {
                margin: 0 8px;
            }
        }

        .container__image {
            width: 278px;
            height: 188px;
            background-color: $gray-tint02;
            outline: none;
            opacity: 1;

            // .image {
            //     width: 100%;
            //     height: 0;
            //     padding-bottom: 100%;
            //     display: block;
            //     margin: auto;
            //     background-size: cover;
            //     background-position: 50% 50%;
            //     background-repeat: no-repeat;
            // }
        }
    }
}
