.page__detail {
    padding-top: 2rem;
    h1 {
        margin-bottom: 0;
        + span {
            font-size: 16px;
        }
    }

    .aside {
        font-size: 16px;

        .btn {
            text-align: left;
            width: auto;
            display: inline-block;
            font-size: 16px;
        }

        .list__mutations {
            margin-top: 0;
        }
    }
}

.container__actions {
    p {
        margin-bottom: 0.5rem;
    }
    p:not(:first-of-type) {
        margin-top: 0.5rem;
    }
}

.container__details {
    > *:first-child {
        margin-top: 0;
    }
    h1 {
        margin-top: 0;
    }
    h2 {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid $gray-tint04;

        svg {
            margin-right: 8px;
        }
    }
    h3 {
        margin-bottom: 0.25rem;

        &:first-child {
            margin-top: 0;
        }
    }
    p {
        margin-top: 0;
        line-height: 175%;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    ul {
        flex: 1 1 50%;
    }

}

.no-image {
    background-color: $gray-tint02;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 $container-padding-x;
}


.incident-meta-list {
    li {
        margin-bottom: 1rem;
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.section--seperated {

    .full-width {
        margin: 0 (-(map-get($container-margin, md)));
    }
}

.section--location{
    margin-bottom: 50px;
}

.incident__header {
    display: flex;
    justify-content: space-between;

    .icon {
        display: inline-block;
    }
}

.container__details--overview {
    box-sizing: content-box;
    // padding-top: 16px;
    .wrapper {
        background-color: $gray-tint02;
        padding: $input-padding-x;
        display: flex;
        font-size: 16px;

        dl {
            margin: 0;
            flex-basis: 40%;
        }
    }
    select {
        margin: 0 $container-padding-x 0 0;
    }
}
