.list__mutations {
    @include list-clean;
    >li {
        margin: 0 calc(-1 * (map-get($container-margin, md)));
        padding: 0 map-get($container-margin, md);
        position: relative;
        // &:nth-child(even) {
        //     background-color: $gray-tint02;
        // }

        p {
            margin: 8px 0 0;
        }

        &:last-child {
            details {
                &::before {
                    height: 0;
                }
            }

        }
        &:first-child {
            summary {
                &::before {
                    display: none;
                }
            }
        }


        &:first-child {

            details {
                .line {
                    &.line-melding{
                        width: 0;
                        background-color: transparent;
                        border-left: 2px dashed $green-tint01;
                    }
                    &.line-taak {
                        width: 0;
                        background-color: transparent;
                        border-left: 2px dashed $magenta-tint01;
                    }
                }
            }
        }

    }
    .line {
        width: 2px;
        height: 100%;
        position: absolute;
        left: 6px;
        top: 23px;
        background-color: $gray-tint11;
    }
    details {
        .line {
            content: "";
            width: 2px;
            height: calc(100% + 20px);
            position: absolute;
            left: 6px;
            top: 23px;
            background-color: $gray-tint11;
            &.line-melding {
                background-color: $green-tint01;
            }
            &.line-taak {
                background-color: $magenta-tint01;
            }
        }

        .event {
            &.event-melding {
                background-color: $green-tint01;
            }
            &.event-taak {
                background-color: $magenta-tint01;
            }
        }


        position: relative;

        summary {
            padding: 12px 18px 12px 74px;
            border: 0;
            font-size: $small-font-size;
            text-align: right;

            &::before {
                // display: none;
                right: 0;
                left: auto;
                top: calc(50% - 8px);
            }
            .line {
                width: 2px;
                height: 100%;
                position: absolute;
                left: 6px;
                top: 23px;
                background-color: $gray-tint11;
            }
            .event {
                position: absolute;
                display: block;
                top: 13px;
                left: 0;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: $gray-tint11;
            }
        }
        .content {
            position: relative;
            padding: 8px;
            background-color: $gray-tint02;
            margin-bottom: 20px;
            margin-left: 5px;
            font-size: 16px;
            text-align: right;
        }

        &[open] {
            > summary {
                &::before {
                    right: 0;
                    left: auto;
                }
            }
        }
    }

    dl {
        margin-left: 24px;
        dt,
        dd {
            display: block;
            margin: 0;
        }

        dt {
            font-weight: 700;
        }

        dd {
            margin-bottom: .5rem;
        }
    }

    .container__thumbs {
        .container__image {
            opacity: 1;
            cursor: initial;
        }
    }

}
