.container__nav--tertiary {
    margin: 0 auto;
    width: 100%;
    max-width: map-get($container-max-widths , xxl );
    display: flex;
    justify-content: flex-end;
}


.list-nav--tertiary {
    @include list-clean();
    margin: 12px 16px 12px 0;
    display: flex;
    li:not(:last-child) {
        margin-right: 20px;
    }
    a {
        color: $gray-tint11;
        text-decoration: none;

        svg {
            vertical-align: bottom;
        }

        &:hover,
        &:focus {
            color: $green-tint01;
        }
    }
}
