.container__table {

    @media (max-width: map-get($grid-breakpoints, lg)) {
        overflow-x: scroll;
    }
}

.table--overview {
    margin-top: 60px;
    position: relative;
    border-collapse: separate;
    border-spacing: 0;

    .container__thumbnail {
        background-color: $gray-tint01;
        min-height: 48px;
        width: 64px;

        .thumbnail {
            min-height: 48px;
            display: block;
            margin: 0 auto;
        }
    }

    th {
        position: sticky;
        top: 0;
        background: $white;
        border-bottom: 2px solid $gray-tint11;
    }

    .btn-textlink {
        svg {
            padding-right: 4px;
        }
        display: flex;
    }
}
