.container__table {

    @media (max-width: map-get($grid-breakpoints, lg)) {
        overflow-x: scroll;
    }
}

.sorting {
    cursor: pointer;
    white-space: nowrap;
    &::after {
        content: "";
        display: inline-block;
        background-image: url(../icons/dropdown.svg);
        background-size: 19px 26px;
        width: 16px;
        height: 19px;
    }

    &.sorting--up {
        &::after {
            background-image: url(../icons/arrow-long.svg);
            background-size: 16px 12px;
            width: 16px;
            height: 13px;
            transform: rotate(-90deg);
        }
    }
    &.sorting--down {
        &::after {
            background-image: url(../icons/arrow-long.svg);
            background-size: 16px 12px;
            width: 16px;
            height: 13px;
            transform: rotate(90deg);
        }
    }

}

.table--overview {
    margin-top: 60px;
    position: relative;
    border-collapse: separate;
    border-spacing: 0;

    .container__thumbnail {
        background-color: $gray-tint01;
        background-size: cover;
        height: 48px;
        width: 64px;

        .thumbnail {
            height: 48px;
            display: block;
            margin: 0 auto;
        }
    }


    .background-image {
        background-image: url(../icons/noimage.svg);
        background-size: 40%;
        height: 48px;
        background-repeat: no-repeat;
        background-position: 16px center;
    }


    th {
        position: sticky;
        top: 0;
        background: $white;
        border-bottom: 2px solid $gray-tint11;
        vertical-align: bottom;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .btn-textlink {
        svg {
            padding: 0 8px;
        }
        display: flex;
    }
}
