{% load rotterdam_formulier_html %}
{% load vind_in_dict from querystring_tags %}
{% load to_date from date_tags %}
{% load json_encode from json_tags %}

<turbo-frame id="melding_actie_form">
    <div class="modal-dialog modal-dialog--small">
        <div class="modal-content">
            <div class="modal-header">
                <h1>
                    <span>Taak starten</span>
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    aria-label="Sluit"
                    data-action="detail#closeModal">
                </button>
            </div>
            <div class="modal-body">
                <form
                    action=""
                    method="post"
                    class="form--horizontal"
                    data-controller=""
                    data-turbo-frame="_top"
                    enctype="multipart/form-data"
                >

                    {% csrf_token %}

                    {{ form.taak|render_rotterdam_formulier }}
                    <div class="form-row">
                        <button
                            type="reset"
                            class="btn btn-tertiary"
                            data-action="incidentHandleForm#cancelHandle"
                        >
                            <span>Annuleren</span>
                        </button>
                        <button
                            type="submit"
                            class="btn btn-action"
                        >
                            <span>Start taak</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</turbo-frame>
