{% load rotterdam_formulier_html %}
{% load vind_in_dict from querystring_tags %}
{% load to_date from date_tags %}
{% load json_encode from json_tags %}

<turbo-frame id="melding_actie_form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>
                    <span>Afhandelen melding</span>
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    aria-label="Sluit"
                    data-action="detail#closeModal">
                </button>
            </div>
            <div class="modal-body">
                <section class="section--seperated" data-testid="detailReporter">
                    <div class="container__details">
                        <h2>
                            Behandeling melding
                        </h2>
                        <div class="wrapper">
                        {% comment %} {{melding}} {% endcomment %}
                            <dl>
                                {% if melding.onderwerpen %}
                                <div>
                                    <dt>Omschrijving taak</dt>
                                    <dd>
                                        {% for taak in melding.onderwerpen %}
                                            {{ taak.naam }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </dd>
                                </div>
                                {% endif %}

                                {% if melding.bijlagen %}
                                <div>
                                    <dt>Foto's</dt>
                                    <dd>
                                        <div class="container__thumbs no-slides">
                                            <ul data-detail-target="thumbList">
                                                {% for bijlage in melding.bijlagen %}
                                                <li data-action="click->detail#selectImage"
                                                    data-detail-image-index-param="{{ forloop.counter }}">
                                                    <div class="container__image">
                                                        <div class="image" style="background-image:url('{{bijlage.afbeelding_verkleind_relative_url}}');"></div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                                {% for b in bijlagen_extra reversed %}
                                                <li data-action="click->detail#selectImage"
                                                    data-detail-image-index-param="{{ forloop.counter|add:bijlagen_aantal }}">
                                                    <div class="container__image">
                                                        <div class="image" style="background-image:url('{{b.afbeelding_verkleind_relative_url}}');"></div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </dd>
                                </div>

                                {% endif %}

                            </dl>

                        </div>
                    </div>
                </section>
                <section class="section--seperated" data-testid="detailReporter">
                    <div class="container__details">
                        <h2>
                            Controle
                        </h2>
                    <form
                        action="{% url 'melding_afhandelen' melding.uuid %}"
                        method="post"
                        class="form--horizontal"
                        data-controller="meldingbehandelformulier"
                        data-meldingbehandelformulier-standaardafhandelteksten-value="{{standaard_afhandel_teksten|json_encode}}"
                        data-turbo-frame="_top"
                        enctype="multipart/form-data"
                    >

                        {% csrf_token %}

                        {{ form.status|render_rotterdam_formulier }}

                        <div class="form-control__with-helptext">
                            {{ form.omschrijving_intern|render_rotterdam_formulier }}
                        </div>

                        {% if melding.meta.terugkoppeling_gewenst == "Ja" %}
                            <div class="form-control__with-helptext">
                                {{ form.omschrijving_extern|render_rotterdam_formulier }}
                            </div>
                        {% endif %}

                        {% comment %} {% if form.bijlagen %}
                            {{ form.bijlagen|render_rotterdam_formulier }}
                        {% endif %} {% endcomment %}
                        <div class="form-row btn-row">
                            <button
                                type="reset"
                                class="btn btn-tertiary"
                                data-action="incidentHandleForm#cancelHandle"
                            >
                                <span>Annuleren</span>
                            </button>
                            <button
                                type="submit"
                                class="btn btn-action"
                            >
                                <span>Behandelen</span>
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</turbo-frame>
