{% extends "base.html" %}
{% load qs_ordenen heeft_orden_oplopend vind_in_dict qs_offset from querystring_tags %}
{% load rotterdam_formulier_html %}

{% load to_date from date_tags %}

{% block body %}
<div data-controller="overview">

    <turbo-frame id="overvieww" data-turbo-action="advance" >
        <h1 class="page-title">Serviceverzoeken</h1>
        <form method="get" action="{% url 'overview' %}" id="filterForm">
            <span class="help-text">{{ startNum }} - {{ endNum }} van {{ totaal }} resultaten</span>


            <div class="container__filter" data-controller="filter">
                <label class="visually-hidden">Locatie</label>
                <div class="container__multiselect">
                    <button class="toggle" data-action="filter#onToggleShow" type="button">Kies locatie(s) ({{locaties_geselecteerd}}/{{filter_options.begraafplaats|length}})</button>
                    <div class="wrapper">
                        {{ form.begraafplaats|render_rotterdam_formulier }}
                        {{ form.ordering|render_rotterdam_formulier }}
                        {{ form.limit|render_rotterdam_formulier }}
                    </div>
                </div>
            </div>

            <div class="container__table">
                <table class="table--overview">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="sorting {{ GET|heeft_orden_oplopend:'id' }}"><a href="{% url 'overview' %}?{{ GET|qs_ordenen:'id' }}" role="button">Melding</a></th>
                            <th class="">Locatie</th>
                            <th class="sorting {{ GET|heeft_orden_oplopend:'locaties__grafnummer' }}"><a href="{% url 'overview' %}?{{ GET|qs_ordenen:'locaties__grafnummer' }}" role="button">Grafnummer</a></th>
                            <th class="sorting {{ GET|heeft_orden_oplopend:'locaties__vak' }}"><a href="{% url 'overview' %}?{{ GET|qs_ordenen:'locaties__vak' }}" role="button">Vak</a></th>
                            <th>Categorie</th>
                            <th class="sorting {{ GET|heeft_orden_oplopend:'origineel_aangemaakt' }}"><a href="{% url 'overview' %}?{{ GET|qs_ordenen:'origineel_aangemaakt' }}" role="button">Datum</a></th>
                            <th class="sorting {{ GET|heeft_orden_oplopend:'afgesloten_op' }}"><a href="{% url 'overview' %}?{{ GET|qs_ordenen:'afgesloten_op' }}" role="button">Status</a></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for melding in meldingen %}

                        <tr data-action="click->overview#navigate" data-overview-targeturl-param="{% url 'detail' melding.id %}">
                            <td width="80">
                                {% if melding.bijlagen.0.afbeelding_verkleind_relative_url %}
                                <div class="container__thumbnail" style="background-image: url('{{melding.bijlagen.0.afbeelding_verkleind_relative_url}}')"></div>
                                {% elif melding.bijlagen.0.bestand_relative_url %}
                                <div class="container__thumbnail" style="background-image: url('{{melding.bijlagen.0.bestand_relative_url}}')"></div>
                                {% else %}
                                <div class="background-image"></div>
                                {% endif %}
                            </td>
                            <td>{{melding.id}}</td>

                            <td>{% vind_in_dict filter_options.begraafplaats melding.locaties_voor_melding.0.begraafplaats %}</td>
                            <td>{% if melding.locaties_voor_melding.0.grafnummer %}{{ melding.locaties_voor_melding.0.grafnummer }} {% else %}n.v.t.{% endif %}</td>
                            <td>{% if melding.locaties_voor_melding.0.vak %}{{melding.locaties_voor_melding.0.vak}} {% else %}n.v.t.{% endif %}</td>
                            <td>
                                {% for onderwerp in melding.onderwerpen %}
                                    {% vind_in_dict filter_options.onderwerp onderwerp %}{% if not forloop.last %}, {% endif %}
                                {% endfor %}

                            </td>
                            <td class="nowrap">{{melding.origineel_aangemaakt|to_date|date:"d-m-Y H:i"}}</td>
                            <td class="nowrap">
                                <span class="display--flex--center badge {% if melding.afgesloten_op %} badge--green{% else %} badge--lightblue{% endif %}">{% if melding.afgesloten_op %}Afgehandeld{% else %}Openstaand{% endif %}</span>
                                </td>
                            <td>
                                <a href="{% url 'melding_pdf_download' melding.id %}" target="_blank" role="button" class="btn btn-icon btn-textlink">
                                    <svg width="16" height="16" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" title="Exporteer pdf">
                                        <path d="M37.0008 9.99962V-0.000244141H7.00118V9.99962H0.00195312V34.0002H7.00118V44H38.001V34.0002H44V9.99962H37.0008ZM35.0003 40.9994H9.99956V23.0001H35.0003V40.9994ZM9.99956 3.00039H34.0001V9.99962H9.99956V3.00039Z" fill="#00811F"/>
                                        <path d="M31.9997 36.0006H13.0002V39.0012H31.9997V36.0006Z" fill="#00811F"/>
                                        <path d="M31.9997 30.0016H13.0002V33.0022H31.9997V30.0016Z" fill="#00811F"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if totaal > meldingen|length %}
            <div class="container__pagination">
                <div class="pagination">
                    <div class="wrapper-horizontal">
                        {% if vorige %}
                        <button type="button" class="btn--previous" data-action="overview#navigatePrevious">
                            <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99275 6.99995L0.689453 1.69665L1.75011 0.635986L8.11407 6.99995L1.75011 13.3639L0.689453 12.3032L5.99275 6.99995Z" />
                            </svg>
                        </button>
                        {% endif %}
                        {{ form.offset|render_rotterdam_formulier }}
                        {% if volgende %}
                        <button type="button" class="btn--next" data-action="overview#navigateNext">
                            <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.99275 6.99995L0.689453 1.69665L1.75011 0.635986L8.11407 6.99995L1.75011 13.3639L0.689453 12.3032L5.99275 6.99995Z" />
                            </svg>
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </form>
    </turbo-frame>


    <div class="modal modal-right" >
        {% comment %} <div class="modal"> {% endcomment %}
            <div class="modal-backdrop modal-exit" id="modal-backdrop"data-action="click->overview#closeModal"></div>
            <div class="modal-content">
                <div class="modal-header">
                <button
                    type="button"
                    class="btn-close"
                    aria-label="Sluit"
                    data-action="overview#closeModal">
                </button>
                </div>
                <div class="modal-body">
                <turbo-frame
                    id="detail_modal"
                    data-src=""
                    src=""
                    laoding="lazy"
                >
                </turbo-frame>
                </div>
            {% comment %} </div> {% endcomment %}
        </div>
    </div>
</div>
{% endblock%}
