{% extends 'base.html' %}
{% load rotterdam_formulier_html %}

{% block title %}Inloggen{% endblock %}

{% block pageheader %}
    {% with hide_menu=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}
{% block body %}


<h1>Inloggen</h1>
{% if error %} {{ error }} {% endif %}
<form action="{% url 'login' %}" method="post" class="form--login">
    {% csrf_token %}

    <fieldset>
        {% include "snippets/legend.html" with title="Logingegevens" icon_name="person" only %}
        {{ form.username|render_rotterdam_formulier }}
        {{ form.password|render_rotterdam_formulier }}
    </fieldset>

    </div>
    <div class="form-row ">
        <button
            class="btn btn-action"
            type="submit"
            data-action="login#submitLogin"
        >
            <span>Inloggen</span>
        </button>
    </div>
</form>

{% endblock %}
