.print-only {
    display: none;
}

@media print {

    .print-only {
        display: block;
    }

    .page__detail {
        .aside,
        .link--back,
        .badge {
            display: none;
        }
    }

    body {
        font-size: 14px;
    }

    h1 {
        margin-top: 0;
        font-size: 20px;
    }

    .bar,
    .section--imageslider {
        display: none;
    }

    .container__details {
        h2 {
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
            font-size: 16px;

            svg {
                margin-right: 0;
            }
        }
        .h5 {
            font-size: 14px;
        }

        >div {
            display: flex;
            .h5,
            .h5+p {
                flex: 1 0 50%;
                margin: 0;
                line-height: 175%;
            }
        }
    }

    .section--imagelist {
        display: block;
        ul {
            &:after {
                content:"";
                display:block;
                clear:both;
               }
        }
        li {
            float: left;
            width: 48%;
            margin-bottom: 20px;

            &:nth-child(odd) {
                margin-right: 20px;
            }
            img {
                width: 100%;
                max-width: 100%;
            }
            .image {
                position: relative;

                span {
                    position: absolute;
                    bottom: 4px;
                    left: 0;
                    display: inline-block;
                    padding: 2px 8px;
                    background-color: $blue-light;
                    color: $white;
                    font-size: 12px;
                }
            }

            &::after {
                content: "";
                clear: both;
                display: table;
            }
        }
    }
 }
